* {
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
}

/* Navigation and header styles */
.nav-title {
    font-weight: 800;
    font-size: 45px;
}

/* r of mary styling */
.text-primary {
    color: #FD6E0A;
}

/* ek line e ante */
nav {
    display: flex;
    justify-content: space-between;
    margin: 5px 200px;
}

/* . dur korte */
nav li {
    list-style: none;
    margin-left: 50px;
}

/* portfolio blog hire ke 1 line ante */
nav ul {
    display: flex;
    align-items: center;
}

/* dui tare dui prante pathaite 17 no line dekho */
/* for button */
.hire {
    width: 150px;
    height: 64px;
    font-weight: 500;
    font-size: 15px;
    border: 0;
    padding: 18px 18px;
    border-radius: 5px;
    color: white;
    background-color: #FD6E0A;
}

/* background image set */
.header {
    background-color: #FFF8F3;
    background-image: url('../images/header_bg.png'), url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, left;
    padding-left: 20px;
}

/* header banner styles */
.banner {
    display: flex;
    margin: 0 200px;
    justify-content: space-between;
    align-items: center;
}

/* banner text settings */
.banner-text-h3 {
    font-weight: 600;
    font-size: 35px;
    color: #474747;
    margin-bottom: 5px;
}

.banner-text-h1 {
    font-weight: 700;
    font-size: 45px;
    color: #181818;
    margin-bottom: 20px;
}

.banner-text-p {
    font-weight: 400;
    font-size: 13px;
    color: #757575;
    margin-bottom: 30px;
}

/* contact button */
.contact {
    width: 150px;
    height: 64px;
    font-weight: 500;
    font-size: 15px;
    border: 1px solid #FD6E0A;
    padding: 18px 25px;
    border-radius: 5px;
    color: #FD6E0A;
}

/* about me table */

main {
    margin: 100px 350px;
    max-width: 1140px;
    /* height: 250px; */
    border-radius: 10px;
}

.about {
    margin-top: 100px;
    background: #FFF8F3;
    border-radius: 10px;
    padding: 70px 70px;
}

.sectionhead {
    font-weight: 700;
    font-size: 25px;
    color: #181818;
    margin-bottom: 30px;
    text-align: center;
}

.sectiondescription {
    font-weight: 400;
    font-size: 12px;
    color: #757575;
    margin-bottom: 30px;
    text-align: center;
}

.sectionfoot {
    display: flex;
    list-style: none;
    font-weight: 400;
    font-size: 12px;
    color: #757575;
    text-align: center;
    justify-content: space-around;
}

.what {
    margin-top: 100px;
    border-radius: 10px;
    text-align: center;
}

.whatdescription {
    font-weight: 400;
    font-size: 12px;
    color: #757575;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}

.skillscontainer {
    display: flex;
    justify-content: space-around;
    gap: 24px;
}

.skills {
    width: 267px;
    height: 250px;
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding: 10px 8px 8px 10px;
}

.skilltitle {
    font-weight: 700;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.skilldescip {
    font-weight: 400;
    font-size: 12px;
    color: #757575;
    margin-bottom: 10px;
}

.resume{
    margin-top: 100px;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 70px;
}

.eduexp{
    display: flex;
    gap: 75px;
    margin-bottom: 50px;
}

.myedu{
    font-weight: 700;
font-size: 22px;
color: #474747;
margin-bottom: 30px;
}

.master-h5{
    margin-top: 10px;
    font-weight: 700;
font-size: 18px;
color: #474747;
margin-bottom: 10px;
}

.master-h6{
font-weight: 700;
font-size: 15px;
color: #474747;
margin-bottom: 20px;
}
.contactme{
    display: flex;
    gap: 117px;
    background: #FFF8F3;
    margin: 5px 2px;
}
.mycontact{
    margin-top: 100px;
    margin-left:350px;
    margin-bottom: 20px;
}
.contact-details{
    margin-left:350px;
    font-weight: 400;
font-size: 13px;
color: #474747;
margin-bottom: 10px;
}
.mymessage{
    margin-top: 100px;
    margin-left:0px;
    margin-bottom: 28px;
}

.myform input[type="text"], input[type="email"] {
    margin-bottom: 24px;
    border: 0;
    width: 300px;
    height: 20px;
    padding: 18px 30px;
}

.myform textarea{
    margin-bottom: 30px;
    width: 300px;
    border: 0;
    height: 130px;
    padding: 18px 30px;
}
